
/* Asterisk wildcard selector to override default styles added by the browser - taken from love running project*/
* {
    padding:0;
    margin:0;
    box-sizing: border-box;
}

/* General styles */

body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    background-color: whitesmoke;
}

.section {
    margin-top: 1rem;
    margin-bottom: 1rem;
}

main {
    margin-top: 25px;
}

footer {
    background-color: white;
    max-height: 65px;
}

h2 {
    margin-bottom: 2rem;
    margin-left:1rem;
    color:darkseagreen

    
}

.container {
    padding-left:;
}


/* Header */

.navbar-brand {
    color: darkseagreen;
    font-size: 25px;
    position:sticky;
}


/* Main */
main {
    flex:1 0 auto;
}

.card {
    margin-left:1rem
}
#head-text {
    text-align: center;
    margin-top: 80px;
    p
}




.card-footer {
    margin-top: 20px;
}

.btn {
    margin:10px;
    margin-top: 12px
    ;
}

#office-info {
    margin-top:125px;
}


    


#request-a-viewing {
    margin-top: 125px;
}

.contact {
    padding-top: 20px;
}

.form-label {
    padding-top: 10px;
}

#btn-form {
    margin-top:20px;
}




.house-pics {
    position: absolute;
    margin-top: 100px;
}

/* Footer */
/* code linked to footer from love running project */
#social-networks {
    text-align: center;
    padding: 20px 0;
    display: flex;
    justify-content: space-evenly;
    list-style-type: none;
}

#social-networks i {
    font-size: 160%;
    padding:5%;
    color:#3a3a3a
}

