
/* Asterisk wildcard selector to override default styles added by the browser - taken from love running project*/
* {
    padding:0;
    margin:0;
    box-sizing: border-box;
}

/* General styles */

body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    background-color: whitesmoke;
}

.section {
    margin-top: 1rem;
    margin-bottom: 1rem;
}


footer {
    background-color: white;
    max-height: 65px;
}

h2 {
    margin-bottom: 2rem;
}


/* Header */

.navbar-brand {
    color: darkseagreen;
    font-size: 25px;
}


/* Main */
main {
    flex:1 0 auto;
}

#head-text {
    text-align: center;
}

.card-footer {
    margin-top: 20px;
}




/* Footer */
/* code linked to footer from love running project */
#social-networks {
    text-align: center;
    padding: 20px 0;
    display: flex;
    justify-content: space-evenly;
    list-style-type: none;
}

#social-networks i {
    font-size: 160%;
    padding:5%;
    color:#3a3a3a
}

